
/*----------------------variables css-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* color  */
    --first-color : hsl(24, 100%, 50%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --body-color: hsl(0, 19%, 93%);
    --container-color: hsl(0, 0%, 99%);

    /* font and typography */

    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;

}

@media screen and (min-width: 1120px) {
    :root{
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}

/*-------------------------------------------base------------------------------------------------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
    a{
      color: var(--title-color);
    }
}

h1{
    color: var(--title-color);
    font-weight: 400;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

img{
    display: block;
    max-width: 100%;
    height: 400px; 
}

/*-------------------------------------------------- MENU PRINCIPAL ----------------------------------------------------*/


header {
    display: flex;
    min-height: 70px;
    background-color: #ff6600;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed; /* Hace que el header quede fijo */
    top: 0; /* Fija el header al tope de la pantalla */
    left: 0;
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    z-index: 1000; /* Coloca el header por encima de otros elementos */
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    height: 80px;
    margin-right: 20px;
    border-radius: 60%;
}

nav a {
    font-weight: 600;
    padding-right: 40px;
}

nav a:hover {
    color: hwb(0 100% 0%);
}

@media (max-width:700px) {
    header{
        flex-direction: column ;
    }
    nav {
        padding: 10px 0px;
    }
    nav a {
        padding-right: 2px;
    }
}

.titulo_descuento{
  text-align: center;
  margin: 25px;
  color: var(--title-color);
}


/* Estilos generales para la sección */
.section-1 {
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 90vh; 
    display: flex;
    align-items: flex-start; 
    padding: 0 20px; 
    }
    
    /* Contenedor principal para flexbox */
    .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding-top: 20px; 
    }
    
    /* Texto y título alineados a la izquierda */
    .header-txt {
    flex: 1; 
    color: rgb(0, 0, 0);
    max-width: 50%; 
    margin-top: 190px;
    }
    
    .header-txt h1 {
    font-size: 3rem; 
    margin-bottom: 10px; 
    }
    
    .header-txt p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    }
    
    .header-txt a.btn-1 {
    padding: 12px 24px;
    background-color: #ff6600;
    color: #000000;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    }
    
    /* Efecto hover para el botón */
    .header-txt a.btn-1:hover {
    background-color: #000000;
    transform: scale(1.1); 
    }
    
    /* Imagen del celular a la derecha */
    .section-img {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    }
    
    .section-img img {
    max-width: 65%; 
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px #000000;
    margin-top: 50px;
    }
    
    
    
    /* Contenedor principal para flexbox */
    .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding-top: 20px; 
    }
    
    /* Texto y título alineados a la izquierda */
    .header-txt {
    flex: 1;
    color: #000000 ;
    max-width: 50%;
    margin-top: 190px; 
    }
    
    .header-txt h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    }
    
    .header-txt p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    }
    
    .header-txt a.btn-1 {
    padding: 12px 24px;
    background-color: #757575 ;
    color: #000000 ;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    .header-txt a.btn-1:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    }
    
    /* Imagen del celular a la derecha */
    .section-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    }
    
    .section-img img {
    max-width: 60%; /* Hacemos la imagen más pequeña */
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px #000000 ;
    margin-top: 50px;
    }
    
    /* Estilos generales para el contenedor de servicios */
    .services.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    }
    
    /* Estilo individual para cada carta de servicio */
    .service {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000 ;
    padding: 20px;
    width: 100%;
    max-width: 320px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: -10px; 
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    /* Títulos de los servicios */
    .service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000000;
    }
    
    /* Descripción del servicio */
    .service p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    }
    
    /* Estilo del botón "Leer más" */
    .service a.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    /* Efecto hover para el botón */
    .service a.btn-1:hover {
    background-color: #757575 ;
    transform: scale(1.1);
    }
    
    /* Efecto hover para la carta */
    .service:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    /* Estilos generales para las secciones */
    .camisas, .zapatos {
    display: flex;
    margin: 0;
    padding: 60px 50px;
    background-color: rgb(235, 222, 222);
    align-items: center;
    justify-content: center; 
    gap: 30px; 
    flex-wrap: wrap; 
    }
    
    /* Imagen de camisas y zapatos */
    .camisas-content img, .zapato-content img {
    width: 100%; 
    max-width: 250px; 
    height: auto; 
    padding: 10px;
    border: 10px solid black;
    border-radius: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    /* Efecto hover para las imágenes */
    .camisas-content img:hover, .zapato-content img:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    }
    
    /* Títulos de las secciones */
    .camisa-texto h2, .short-texto h2, .zapato-texto h2 {
    text-align: center;
    color: #283629;
    font-size: 2rem; 
    margin-bottom: 15px;
    }
    
    /* Descripciones debajo de los títulos */
    .camisa-texto p, .short-texto p, .zapato-texto p {
    text-align: center;
    padding: 10px 30px;
    color: #666;
    font-size: 1rem;
    }
    
    /* Botones */
    .btn1, .btn2, .btn3 {
    border-radius: 15px;
    text-decoration: none;
    display: block;
    background-color: #ff6600;
    width: 150px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto; 
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    }
    
    /* Efecto hover para los botones */
    .btn1:hover, .btn2:hover, .btn3:hover {
    background-color: #757575 ;
    color: white;
    transform: scale(1.1); 
    }
    
    /* Fondo de la seccióxn de shorts */
    .shorts {
    background: url(img/nike/11_AirJordan1LowEasyOn.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 50px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000 ;
    text-align: center;
    }
    
    .short-texto h2, .short-texto p {
    color: #000000 ;
    }
    
    .nosotros {
    display: flex;
    margin: 0;
    padding: 60px 50px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
    }
    
    .nosotros-content {
    display: flex;
    }
    
    .text-1 {
    margin: 0 100px;
    text-align: justify;
    }
    
    .text-1 h2 {
    text-align: center;
    padding: 10px;
    color:  #000000 ;
    font-size: 35px;
    }
    



/* -----------------------------------------------------card ------------------------------------------------------*/
aside{
    height: autopx;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 2rem;
}

.card_container{
    display: grid;
    row-gap: 3.5rem;
}

.card_article{
    position: relative;
    overflow: hidden;
}

.card_img{
    width: 328px;
    border-radius: 1.5rem;
}
.card_data{
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 100%, 50%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;

}

.card_description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem; 
}

.card_title{
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem; 
} 

.card_button{
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.card_button:hover{
    text-decoration: underline;
}
 
.boton-comprar {
    background-color: var(--first-color); /* Color de fondo */
    color: var(--container-color); /* Color del texto */
    font-family: var(--body-font); /* Tipo de letra */
    font-size: var(--small-font-size);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-comprar:hover {
    background-color: hsl(24, 100%, 45%); /* Un poco más oscuro en hover */
    color: #fff;
}
/*---------------------------------------------- naming animations in hover --------------------------------------------*/

.card_article:hover .card_data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card_article:hover{
    animation: remove-overflow 2s forwards;
}

.card_article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card_article:not(:hover) .card_data{
    animation: remove-data 1s forwards;
}

/*---------------------------------------------- card animation ----------------------------------------------------*/


@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}
@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/* --------------------------------------------- */
/* --------------------------------------For small devices -------------------------------------------------------*/

@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .card_data{
        width: 250px;
        padding: 1rem;
    }
}

/*--------------------------------------------- for medium devices ---------------------------------------------*/

@media screen and (min-width: 768px) {
    .card_container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
    
}




body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1{
  font-weight: 400;
}
  


img{
    object-fit: cover;
}


.logo {
  display: flex;
  align-items: center;

}


.logo img {
  height: 80x;
  margin-right: 20x;
  border-radius: 60%;
}


nav a {
  font-weight: 600;
  padding-right: 30px;
}

nav a:hover {
  color: white;
}

@media (max-width:700px) {
  header{
      flex-direction: column ;
  }
  nav {
      padding: 10px 0px;
  }
  nav a {
      padding-right: 2px;
  }
}

.container {
    margin: 0 auto;
  }
  
  .footer {
    position: relative;
    margin-top: 60px;
    background-color: rgb(0 0 0 / 87%);
    padding: 0px 0;
    height: auto;
    width: 100%;
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    
  
  }
  
  .footer-links {
    width: 300px;
    padding: 0 15px;
  }
  
  .footer-links h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .footer-links ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #7e7e7e;
    display: block;
    margin: 15px;
    transition: all .3s ease;
  }
  
  .footer-links ul li a:hover {
    color: #ff6600;
    padding-left: 6px;
  }
  
  .social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
  }
  
  .social-link a:hover {
    background-color: #ff6600;
  }
  
  .copyright {
    font-family: 'Nike', sans-serif;
    color: #ff6600;
    text-align: right;
    position: relative;
    margin-top: 70px;
  }
  
  /* Función para hacer estilos consistentes en todos los dispositivos */
  @media (max-width: 768px) {
    body,
    .container,
    .footer,
    .footer-links,
    .footer-links h4,
    .footer-links ul li a,
    .social-link a,
    .copyright {
        font-size: 16px; /* Ajusta el tamaño de fuente base para dispositivos móviles */
        margin: 0; /* Elimina cualquier margen adicional */
        padding: 10px; /* Añade padding para mejorar la legibilidad */
    }
  
    .footer {
        padding: 40px 0; /* Ajusta el padding de la sección footer para dispositivos móviles */
    }
  
    .footer-links {
        width: 50%; /* Ajusta el ancho de los enlaces en el footer para dispositivos móviles */
        margin: 0 auto; /* Centra los enlaces en el footer */
        text-align: center; /* Centra el texto en los enlaces del footer */
    }
  
    .social-link a {
        min-height: 30px; /* Ajusta la altura de los íconos de redes sociales para dispositivos móviles */
        width: 30px; /* Ajusta el ancho de los íconos de redes sociales para dispositivos móviles */
        line-height: 30px; /* Ajusta el line-height de los íconos de redes sociales para dispositivos móviles */
        margin-bottom: 10px; /* Ajusta el margen inferior de los íconos de redes sociales para dispositivos móviles */
    }
  
    .copyright {
        margin-top: 40px; /* Ajusta el margen superior del texto de copyright para dispositivos móviles */
        text-align: center; /* Centra el texto de copyright en dispositivos móviles */
    }
  }
  
  /*------------------------------------------------- PIE DE PAGINA ----------------------------------------------*/
  
  .pie_pagina{
      margin-top: 30px;
      width: 100%;
      height: 100px;
      background-color: #000000 
    }