/*----------------------variables css-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* color  */
    --first-color : hsl(24, 100%, 50%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --body-color: hsl(0, 19%, 93%);
    --container-color: hsl(0, 0%, 99%);

    /* font and typography */

    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;

}

@media screen and (min-width: 1120px) {
    :root{
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}

/*-------------------------------------------base------------------------------------------------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
    a{
      color: var(--title-color);
    }
}

h1{
    color: var(--title-color);
    font-weight: 400;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

img{
    display: block;
    max-width: 100%;
    height: 400px; 
}


/*-------------------------------------------------- MENU PRINCIPAL ----------------------------------------------------*/

header {
    position: fixed; /* Fija la barra en la parte superior */
    top: 0; /* Ubica la barra en la parte superior de la ventana */
    left: 0; /* Alinea al borde izquierdo */
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000; /* Garantiza que esté por encima del resto del contenido */
    display: flex;
    min-height: 70px;
    background-color: #ff6600;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para mejorar la apariencia */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 20px;
    border-radius: 60%;
}

nav a {
    font-weight: 600;
    padding-right: 40px;
}

nav a:hover {
    color: hwb(0 100% 0%);
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
    nav a {
        padding-right: 2px;
    }


}

/* Espaciado adicional para evitar solapamientos */
body {
    margin-top: 150px; /* Ajusta este valor según la altura de la barra */
}
.titulo_descuento{
  text-align: center;
  margin: 25px;
  color: var(--title-color);
}


/* -----------------------------------------------------card ------------------------------------------------------*/
aside{
    height: 2300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 2rem;
}

.card_container{
    display: grid;
    row-gap: 3.5rem;
}

.card_article{
    position: relative;
    overflow: hidden;
}

.card_img{
    width: 328px;
    border-radius: 1.5rem;
}
.card_data{
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 100%, 50%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;

}

.card_description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem; 
}

.card_title{
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem; 
} 

.card_button{
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.card_button:hover{
    text-decoration: underline;
}
 
.boton-comprar {
    background-color: var(--first-color); /* Color de fondo */
    color: var(--container-color); /* Color del texto */
    font-family: var(--body-font); /* Tipo de letra */
    font-size: var(--small-font-size);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-comprar:hover {
    background-color: hsl(24, 100%, 45%); /* Un poco más oscuro en hover */
    color: #fff;
}
/*---------------------------------------------- naming animations in hover --------------------------------------------*/

.card_article:hover .card_data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card_article:hover{
    animation: remove-overflow 2s forwards;
}

.card_article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card_article:not(:hover) .card_data{
    animation: remove-data 1s forwards;
}

/*---------------------------------------------- card animation ----------------------------------------------------*/


@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}
@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/* --------------------------------------------- */
/* --------------------------------------For small devices -------------------------------------------------------*/

@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .card_data{
        width: 250px;
        padding: 1rem;
    }
}

/*--------------------------------------------- for medium devices ---------------------------------------------*/

@media screen and (min-width: 768px) {
    .card_container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
    
}

/* -------------------------------------- for large devices -----------------------------------------------------*/

@media screen and (min-width: 768px) {
    /*.container{
        height: 100vh;
    }*/
    .card_container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card_img{
        width: 348px;
    }
    .card_data{
        width: 316px;
        padding-inline: 2.5rem;
    }
}

/* .contenedor_adidas{
  height: 100%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  border: solid 1px black;

}
.tarjetas_adidas{
  height: 280px;
  width: 200px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.50);
  border: solid 2px black;
}
.contenedor_adidas{
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.adidas{
  width: 150px;
  height: 100%;
  border: solid 1px black;
}
.descripcion_tarjetas{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
} */



img{
    object-fit: cover;
}


.logo {
  display: flex;
  align-items: center;

}


.logo img {
  height: 80x;
  margin-right: 20x;
  border-radius: 60%;
}


nav a {
  font-weight: 600;
  padding-right: 30px;
}

nav a:hover {
  color: white;
}

@media (max-width:700px) {
  header{
      flex-direction: column ;
  }
  nav {
      padding: 10px 0px;
  }
  nav a {
      padding-right: 2px;
  }
}

.container {
  margin: 0 auto;
}

.footer {
  position: relative;
  margin-top: 60px;
  background-color: rgb(0 0 0 / 87%);
  padding: 0px 0;
  height: auto;
  width: 100%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  

}

.footer-links {
  width: 300px;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
}

.footer-links ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #7e7e7e;
  display: block;
  margin: 15px;
  transition: all .3s ease;
}

.footer-links ul li a:hover {
  color: #ff6600;
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all .5s ease;
}

.social-link a:hover {
  background-color: #ff6600;
}

.copyright {
  font-family: 'Nike', sans-serif;
  color: #ff6600;
  text-align: right;
  position: relative;
  margin-top: 70px;
}

/* Función para hacer estilos consistentes en todos los dispositivos */
@media (max-width: 768px) {
  body,
  .container,
  .footer,
  .footer-links,
  .footer-links h4,
  .footer-links ul li a,
  .social-link a,
  .copyright {
      font-size: 16px; /* Ajusta el tamaño de fuente base para dispositivos móviles */
      margin: 0; /* Elimina cualquier margen adicional */
      padding: 10px; /* Añade padding para mejorar la legibilidad */
  }

  .footer {
      padding: 40px 0; /* Ajusta el padding de la sección footer para dispositivos móviles */
  }

  .footer-links {
      width: 50%; /* Ajusta el ancho de los enlaces en el footer para dispositivos móviles */
      margin: 0 auto; /* Centra los enlaces en el footer */
      text-align: center; /* Centra el texto en los enlaces del footer */
  }

  .social-link a {
      min-height: 30px; /* Ajusta la altura de los íconos de redes sociales para dispositivos móviles */
      width: 30px; /* Ajusta el ancho de los íconos de redes sociales para dispositivos móviles */
      line-height: 30px; /* Ajusta el line-height de los íconos de redes sociales para dispositivos móviles */
      margin-bottom: 10px; /* Ajusta el margen inferior de los íconos de redes sociales para dispositivos móviles */
  }

  .copyright {
      margin-top: 40px; /* Ajusta el margen superior del texto de copyright para dispositivos móviles */
      text-align: center; /* Centra el texto de copyright en dispositivos móviles */
  }
}

/*------------------------------------------------- PIE DE PAGINA ----------------------------------------------*/

.pie_pagina{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    background-color: #000000 
  }
